/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Style the header background */
header {
  color: lightgray;
  padding: 20px 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  
 
}
/* flex layout for the nav */
.navbar {
  display: flex;
  max-width: 1200px;
  align-items: center;
  gap: 1rem;
  width: 90%;
}

.nav-links{
  display: flex;
  gap: 2rem;
  margin-left: auto;
  color: white;
}

.nav-links  a{
  color: white;
}

.navbar a {
  margin-left: 6rem;
}
header {
  background-color: darkgray;
}

/* banner styling */
.text-section {
  margin: 5rem;
  text-align: center;
}

h1 {
  font: bold;
  font-size: 120px;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.text-section span {
  padding: 1rem;
}

.text-section button {
  margin: 1.5rem auto;
  display: block;
  color: #FFFFFF;
  background-color: #C271FF;
  padding: 1rem;
  border-radius: 1.8rem;
  border-style: none;
}

.head-2 h2{
  font-size: 2rem;
  text-align: center;
}

.head-2  h2 span {
  color: #C271FF;
}

.image-section {
  display: flex;
  gap: 3rem;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}



.image-section img {
   padding: 3rem;
   padding-bottom: 0.3rem;
}

.image-three img {
   border-radius: 50%;
}

.image-section h3 , p {
   padding-left: 3rem;
   margin-left: 2rem;
}

.image-section p span {
    display: block;
    padding-left: 1.2rem;
}

.image-section  .image-three p span {
  padding-left: 0.2rem;
}

.image-section .image-two p span {
  padding-left: 2.5rem;
}

.image-section  .image-four p span {
  padding-left: 0.2rem;
}


